<form id="question-new" action="/questions" method="POST">
  <input type="text" placeholder="Title" name="question[title]"><br>
  <textarea name="question[text]" placeholder="Write your question here" cols="40" rows="4"></textarea><br>
  <input type="submit" value="submit">
</form>
