<h3>Add an answer!</h3>
<form action="/questions/<%=@question.id %>/answers" method="POST">
  <input type="text" name="text" placeholder="Your answer goes here...">
  <input type="submit" value="Submit Answer">
</form>
